<h1>Station Homepage</h1>

</div class="container row">

  <div class="col-md-4">
    <form action="add_train" method="post">
      <label for="name">Enter name</label>
      <input type="text" name="name" value="">
      <button type="submit">Submit new Train</button>
    </form>
  </div>

  <div class="col-md-4">
    <form action="add_stop" method="post">
      <label for="name">Enter name</label>
      <input type="text" name="name" value="">
      <button type="submit">Submit new Stop</button>
    </form>
  </div>

  <div class="col-md-4">
    <form action="add_timetable" method="post">
      <label for="name">Enter name</label>
      <input type="text" name="name" value="">
      <button type="submit">Submit new Timetable</button>
    </form>
  </div>

</div>
