<h1>Station Homepage</h1>

<div class="container" id="results_buttons">
  <a href="/results">Go to Results page</a>
</div>

<form action="/is_admin" method="post">
  <input type="hidden" name="admin" value="true">
  <button class="move_right admin" type="submit">I am a Train Conductor</button>
</form>

<form action="/not_admin" method="post">
  <input type="hidden" name="admin" value="false">
  <button class="move_right not_admin" type="submit">I am a Rider</button>
</form>
