<div class="row">
  <div class="col-xs-4">
    <h1>List of Trains</h1>
    <%if @trains%>
    <ul>
      <%@trains.each() do |train|%>
      <li><a href="/train/<%=train.id%>"><%=train.name%></a></li>
      <%end%>
    </ul>
    <%else%>
      <h3>No trains have been added yet</h3>
    <%end%>
  </div>

</div>
