<h1><%= @stop.name %></h1>

<form action="/stop/<%=@stop.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn-lg" type="submit">Delete Stop</button>
</form>

<form action="/stops/delete" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn-lg" type="submit">Clear Stops</button>
</form>

<form action="/stops/update_name/<%=@stop.id%>" method="post">
  <label for="name">Update Train Name</label>
  <input type="text" name="name">
  <input name="_method" type="hidden" value="patch">
  <button class="btn-lg" type="submit">Update Name</button>
</form>

<p>
  <a href="/">Home Page</a>
</p>
