<h1><%= @timetable.name %></h1>

<form action="/timetable/<%=@timetable.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn-lg" type="submit">Delete Timetable</button>
</form>

<form action="/timetables/delete" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn-lg" type="submit">Clear Timetables</button>
</form>

<form action="/timetables/update_name/<%=@timetable.id%>" method="post">
  <label for="name">Update Train Name</label>
  <input type="text" name="name">
  <input name="_method" type="hidden" value="patch">
  <button class="btn-lg" type="submit">Update Name</button>
</form>

<p>
  <a href="/">Home Page</a>
</p>
